.Container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.Container h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.Container p {
  max-width: 40em;
  line-height: 1.4;
  margin-bottom: 1.5em;
}